@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
	font-family: 'Montserrat';
	font-weight: 400;
}

.fz-12 {
	font-size: 1.2rem;
}

.fz-16 {
	font-size: 1.6rem;
}

.fz-20 {
	font-size: 2rem;
}

.fw700 {
	font-weight: 700;
}

.fz-38 {
	font-size: 3.8rem;
}

.fz-19 {
	font-size: 1.9rem;
}

.fz-30 {
	font-size: 3rem;
}

.fz-14 {
	font-size: 1.4rem;
}

.fz-22 {
	font-size: 2.2rem;
}

.fz-18 {
	font-size: 1.8rem;
}

.fz-21 {
	font-size: 2.1rem;
}