@import '../../../styles/components/variable.scss';

.main_link {
	animation: pulsar .8s ease-in-out infinite;
}

@keyframes pulsar {

	0% {
		background-color: $active-active;
	}

	50% {
		box-shadow: 0px 0px 70px 0px rgba(36, 163, 255, 0.50);
	}

	100% {
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	}

}