@import '../components/variable.scss';

.pulsar {
	background-color: $active-active;
	padding: 18px 30px;
	border-radius: 12px;
	transition: .3s;

	&:active {
		transition: .3s;
		color: $accent;
	}

	animation: pulsar .8s ease-in-out infinite;
}

@media (min-width: 1024px) {
	
	.pulsar {
		&:hover {
			transition: .3s;
			color: $accent;
		}
	}

}

@keyframes pulsar {

	0% {
		background-color: $active-active;
	}

	50% {
		box-shadow: 0px 0px 70px 0px rgba(36, 163, 255, 0.50);
	}

	100% {
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	}

}