@import './components/variable.scss';

.nav {
	display: none;
}

.nav_item-active {
	color: $accent;
}

@media (min-width: 768px) {
	
	.nav {
		display: block;
		&_list {
			display: flex;
			gap: 15px;
		}
	
		&_item {
		}
	}
	

}

@media (min-width: 1024px) {
	
	.nav_item {
		transition: .5s;

		&:hover {
			transition: .5s;
			color: $accent;
		}
	}

}