@import './components/variable.scss';

.team {
	padding: 30px 0px 60px 0px;

	&_container {
	}

	&_card {
		border-radius: 12px;
		background: $grey-bg-alt;
		max-width: 100%;
		}

	&_img {
		max-width: 100%;
		width: 100%;
	}

	&_box {
		padding: 30px;
	}

	&_title {
		background: $gradient-red-text;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		max-width: 255px;
		width: 100%;
		line-height: normal;
		padding-bottom: 30px;
	}

	&_author {
		line-height: normal;
	}

	&_link {
		padding-bottom: 5px;
	}

	&_subtitle {
	}

	&_circle-box {
		padding-top: 30px;
		max-width: 78px;
		width: 100%;
	}

	&_circle {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		opacity: 0.2;
	}

	&_circle-active {
		opacity: 1;
	}
}


@media (min-width: 768px) {
	
	.team {

		&_title {
			font-size: 3.8rem;
			max-width: 588px;
			width: 100%;
		}

	}

}

@media (min-width: 1024px) {
	
	.team {

		&_card {
			display: flex;
		}

		&_title {
			max-width: 444px;
			width: 100%;
		}

	}

}

@media (min-width: 1140px) {
	
	.team {

		&_title {
			max-width: 860px;
			width: 100%;
		}

	}

}

@media (min-width: 1920px) {
	
	.team {

		&_title {
			max-width: 1140px;
			width: 100%;
		}

	}

}