@import '../../../styles/components/variable.scss';

.main {
	margin: 30px 0;

	&_container {
		gap: 30px;
	}

	&_box-title {
		gap: 28px;
		max-width: 315px;
		width: 100%;
	}

	&_title {
		background: $gradient-red-text;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		line-height: normal;
	}

	&_box-para {
		gap: 30px;
	}

	&_para {
		line-height: 3rem;
	}

	&_box-subtitle {
		padding-left: 30px;
		border-left: 4px solid $grey-separator;
		gap: 40px;
		max-width: 315px;
		width: 100%;
	}

	&_box-achievement {
		gap: 10px;
	}

	&_box-flag {
		gap: 8px;
	}

	&_img-achievement {
	}

	&_num {
		background: $gradient-red-text;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&_subtitle {
		line-height: normal;
	}
}

@media (min-width: 768px) {
	
	.main {
		margin: 60px 0;

		&_title {
			font-size: 3.8rem;
		}

		&_box-title {
			max-width: 648px;
		}

		&_box-subtitle {
			max-width: 648px;
		}
	}

}

@media (min-width: 1024px) {
	
	.main {

		&_container {
			flex-direction: row;
			justify-content: center;
		}

		&_box-title {
			max-width: 486px;
		}

		&_box-subtitle {
			max-width: 388px;
		}

	}

}

@media (min-width: 1440px) {
	
	.main {

		&_box-title {
			max-width: 662px;
		}

	}

}

@media (min-width: 1920px) {
	
	.main {

		&_box-title {
			max-width: 942px;
		}

	}

}