.photo {
	position: relative;
	&_img {
		max-width: 100%;
		width: 100%;
		background: linear-gradient(265deg, #F01432 0%, #323264 29.69%), lightgray 50%;
		background-blend-mode: screen, normal;
	}

	&_title {
		position: absolute;
		letter-spacing: 1.3rem;
		text-transform: uppercase;
		line-height: normal;
		text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.80);
	}
}

@media (min-width: 768px) {
	
	.photo_title {
		font-size: 4.6rem;
		letter-spacing: 6.3rem;
	}

}

@media (min-width: 1024px) {
	
	.photo_title {
		font-size: 8.6rem;
	}

}

@media (min-width: 1440px) {
	
	.photo_title {
		font-size: 9.6rem;
	}

}